.content {
  width: 100%;
  border: 2px solid rgb(231, 231, 231);
  padding: 10px;
  margin: 5px 10px;
  height: 100%;
}
.content h2,
.content div {
  margin: 15px 0;
}

.tableHeader {
  display: flex;
}

.tableLine {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}
.pagination li {
  list-style: none;
  margin-top: 10px;
}

.active a {
  color: white;
  background-color: #004b87;
}
.pagination li a:hover {
  border: 2px solid #004b87;
}

.pagination li a {
  padding: 10px;
  border: 2px solid rgb(231, 231, 231);
  margin: 0 3px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}
.pagination li a:active {
  color: white;
  background-color: #004b87;
}

/* .absolute {
  position: absolute;
} */

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 15%;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
